as/wsdl/archivo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http:/127.0.0.1:27/archivo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="archivo" targetNamespace="http:/127.0.0.1:27/archivo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http:/127.0.0.1:27/archivo/">
      <xsd:element name="subirarchivoentradas"
      	type="tns:subirarchivoentradas">

      </xsd:element>
      <xsd:element name="subirarchivosalidas"
      	type="tns:subirarchivosalidas">

      </xsd:element>

      <xsd:complexType name="subirarchivoentradas">
      	<xsd:attribute name="archivo" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="nombrearchivo" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="subirarchivosalidas">
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="subirRequest">
    <wsdl:part element="tns:subirarchivoentradas" name="subirarchivoentradas"/>
  </wsdl:message>
  <wsdl:message name="subirResponse">
    <wsdl:part element="tns:subirarchivosalidas" name="subirarchivosalidas"/>
  </wsdl:message>
  <wsdl:portType name="archivo">
    <wsdl:operation name="subir">
      <wsdl:input message="tns:subirRequest"/>
      <wsdl:output message="tns:subirResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="archivoSOAP" type="tns:archivo">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="subir">

  		<soap:operation soapAction="http:/127.0.0.1:27/archivo/subir" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="archivo">
    <wsdl:port binding="tns:archivoSOAP" name="archivoSOAP">
      <soap:address location="http://127.0.0.1:27/archivo/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
