as/wsdl/clasificacion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:27/clasificacion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="clasificacion" targetNamespace="http://127.0.0.1:27/clasificacion/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:27/clasificacion/">
      <xsd:element name="cargarcomboclasificacionentradas"
      	type="tns:cargarcomboclasificacionentradas">

      </xsd:element>
      <xsd:element name="cargarcomboclasificacionsalidas"
      	type="tns:cargarcomboclasificacionsalidas">

      </xsd:element>

      <xsd:complexType name="cargarcomboclasificacionentradas">
      	<xsd:sequence></xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="cargarcomboclasificacionsalidas">
      	<xsd:sequence>
      		<xsd:element name="clasificacion" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cargarcomboRequest">
    <wsdl:part element="tns:cargarcomboclasificacionentradas" name="cargarcomboclasificacionentradas"/>
  </wsdl:message>
  <wsdl:message name="cargarcomboResponse">
    <wsdl:part element="tns:cargarcomboclasificacionsalidas" name="cargarcomboclasificacionsalidas"/>
  </wsdl:message>
  <wsdl:portType name="clasificacion">
    <wsdl:operation name="cargarcombo">
      <wsdl:input message="tns:cargarcomboRequest"/>
      <wsdl:output message="tns:cargarcomboResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clasificacionSOAP" type="tns:clasificacion">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="cargarcombo">

  		<soap:operation
  			soapAction="http://127.0.0.1:27/clasificacion/cargarcombo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clasificacion">
    <wsdl:port binding="tns:clasificacionSOAP" name="clasificacionSOAP">
      <soap:address location="http://127.0.0.1:27/clasificacion/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
