as/wsdl/departamento.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:27/departamento/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="departamento" targetNamespace="http://127.0.0.1:27/departamento/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:27/departamento/">
      <xsd:element name="cargarcombodepartamentoentradas"
      	type="tns:cargarcombodepartamentoentradas">

      </xsd:element>
      <xsd:element name="cargarcombodepartamentosalidas"
      	type="tns:cargarcombodepartamentosalidas">

      </xsd:element>

      <xsd:complexType name="cargarcombodepartamentoentradas">
      	<xsd:sequence></xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="cargarcombodepartamentosalidas">
      	<xsd:sequence>
      		<xsd:element name="departamento" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cargarcomboRequest">
    <wsdl:part element="tns:cargarcombodepartamentosalidas" name="cargarcombodepartamentoentradas"/>
  </wsdl:message>
  <wsdl:message name="cargarcomboResponse">
    <wsdl:part element="tns:cargarcombodepartamentosalidas" name="cargarcombodepartamentosalidas"/>
  </wsdl:message>
  <wsdl:portType name="departamento">
    <wsdl:operation name="cargarcombo">
      <wsdl:input message="tns:cargarcomboRequest"/>
      <wsdl:output message="tns:cargarcomboResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="departamentoSOAP" type="tns:departamento">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="cargarcombo">

  		<soap:operation
  			soapAction="http://127.0.0.1:27/departamento/cargarcombo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="departamento">
    <wsdl:port binding="tns:departamentoSOAP" name="departamentoSOAP">
      <soap:address location="http://127.0.0.1:27/departamento/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
