as/wsdl/espacio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:27/espacio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="espacio" targetNamespace="http://127.0.0.1:27/espacio/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:27/espacio/">
      <xsd:element name="cargarcomboespacioentradas"
      	type="tns:cargarcomboespacioentradas">

      </xsd:element>
      <xsd:element name="cargarcomboespaciosalidas"
      	type="tns:cargarcomboespaciosalidas">

      </xsd:element>

      <xsd:complexType name="cargarcomboespacioentradas">
      	<xsd:sequence></xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="cargarcomboespaciosalidas">
      	<xsd:sequence>
      		<xsd:element name="espacio" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cargarcomboRequest">
    <wsdl:part element="tns:cargarcomboespacioentradas" name="cargarcomboespacioentradas"/>
  </wsdl:message>
  <wsdl:message name="cargarcomboResponse">
    <wsdl:part element="tns:cargarcomboespaciosalidas" name="cargarcomboespaciosalidas"/>
  </wsdl:message>
  <wsdl:portType name="espacio">
    <wsdl:operation name="cargarcombo">
      <wsdl:input message="tns:cargarcomboRequest"/>
      <wsdl:output message="tns:cargarcomboResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="espacioSOAP" type="tns:espacio">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="cargarcombo">

  		<soap:operation
  			soapAction="http://127.0.0.1:27/espacio/cargarcombo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="espacio">
    <wsdl:port binding="tns:espacioSOAP" name="espacioSOAP">
      <soap:address location="http://127.0.0.1:27/espacio/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
