as/wsdl/medio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:27/medio/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="medio" targetNamespace="http://127.0.0.1:27/medio/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:27/medio/">
      <xsd:element name="mostrartmediosentradas"
      	type="tns:mostrartmediosentradas">

      </xsd:element>
      <xsd:element name="mostrartmediossalidas"
      	type="tns:mostrartmediossalidas">

      </xsd:element>

      <xsd:complexType name="mostrartmediosentradas">
      	<xsd:sequence></xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="mostrartmediossalidas">
      	<xsd:sequence>
      		<xsd:element name="tipo" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="autocompletemedioentradas"
      	type="tns:autocompletemedioentradas">

      </xsd:element>
      <xsd:element name="autocompletemediosalidas"
      	type="tns:autocompletemediosalidas">

      </xsd:element>

      <xsd:complexType name="autocompletemedioentradas">
      	<xsd:attribute name="medio" type="xsd:string"></xsd:attribute>
      	<xsd:attribute name="tmedio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="autocompletemediosalidas">
      	<xsd:sequence>
      		<xsd:element name="medio" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mostrartmediosRequest">
    <wsdl:part element="tns:mostrartmediosentradas" name="mostrartmediosentradas"/>
  </wsdl:message>
  <wsdl:message name="mostrartmediosResponse">
    <wsdl:part element="tns:mostrartmediossalidas" name="mostrartmediossalidas"/>
  </wsdl:message>
  <wsdl:message name="autocompleteRequest">
  	<wsdl:part name="autocompletemedioentradas" element="tns:autocompletemedioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="autocompleteResponse">
  	<wsdl:part name="autocompletemediosalidas" element="tns:autocompletemediosalidas"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="medio">
    <wsdl:operation name="mostrartmedios">
      <wsdl:input message="tns:mostrartmediosRequest"/>
      <wsdl:output message="tns:mostrartmediosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="autocomplete">
    	<wsdl:input message="tns:autocompleteRequest"></wsdl:input>
    	<wsdl:output message="tns:autocompleteResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="medioSOAP" type="tns:medio">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="mostrartmedios">

  		<soap:operation
  			soapAction="http://127.0.0.1:27/medio/mostrartmedios" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="autocomplete">
  		<soap:operation
  			soapAction="http://127.0.0.1:27/medio/autocomplete" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="medio">
    <wsdl:port binding="tns:medioSOAP" name="medioSOAP">
      <soap:address location="http://127.0.0.1:27/medio/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
