as/wsdl/protagonista.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:27/protagonista/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="protagonista" targetNamespace="http://127.0.0.1:27/protagonista/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:27/protagonista/">
      <xsd:element name="autocompleteprotagonistaentradas"
      	type="tns:autocompleteprotagonistaentradas">

      </xsd:element>
      <xsd:element name="autocompleteprotagonistasalidas"
      	type="tns:autocompleteprotagonistasalidas">

      </xsd:element>

      <xsd:complexType name="autocompleteprotagonistaentradas">
      	<xsd:attribute name="protagonista" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="autocompleteprotagonistasalidas">
      	<xsd:sequence>
      		<xsd:element name="protagonista" type="xsd:string"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="autocompleteRequest">
    <wsdl:part element="tns:autocompleteprotagonistaentradas" name="autocompleteprotagonistaentradas"/>
  </wsdl:message>
  <wsdl:message name="autocompleteResponse">
    <wsdl:part element="tns:autocompleteprotagonistasalidas" name="autocompleteprotagonistasalidas"/>
  </wsdl:message>
  <wsdl:portType name="protagonista">
    <wsdl:operation name="autocomplete">
      <wsdl:input message="tns:autocompleteRequest"/>
      <wsdl:output message="tns:autocompleteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="protagonistaSOAP" type="tns:protagonista">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="autocomplete">

  		<soap:operation
  			soapAction="http://127.0.0.1:27/protagonista/autocomplete" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="protagonista">
    <wsdl:port binding="tns:protagonistaSOAP" name="protagonistaSOAP">
      <soap:address location="http://127.0.0.1:27/protagonista/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
