dbs/wsdl/db.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:26/db/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="db" targetNamespace="http://127.0.0.1:26/db/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:26/db/">
      <xsd:element name="buscarprotagonistaentradas"
      	type="tns:buscarprotagonistaentradas">

      </xsd:element>
      <xsd:element name="resquery" type="tns:resquery">

      </xsd:element>

      <xsd:complexType name="buscarprotagonistaentradas">
      	<xsd:attribute name="protagonista" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="resquery">
      	<xsd:sequence>
      		<xsd:element name="matriz" type="tns:filas" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="filas">
      	<xsd:sequence>
      		<xsd:element name="columnas" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buscarprotagonistaRequest">
    <wsdl:part element="tns:buscarprotagonistaentradas" name="buscarprotagonistaentradas"/>
  </wsdl:message>
  <wsdl:message name="buscarprotagonistaResponse">
    <wsdl:part element="tns:resquery" name="buscarprotagonistasalidas"/>
  </wsdl:message>
  <wsdl:portType name="db">
    <wsdl:operation name="buscarprotagonista">
      <wsdl:input message="tns:buscarprotagonistaRequest"/>
      <wsdl:output message="tns:buscarprotagonistaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbSOAP" type="tns:db">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="buscarprotagonista">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarprotagonista" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="db">
    <wsdl:port binding="tns:dbSOAP" name="dbSOAP">
      <soap:address location="http://127.0.0.1:26/db/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
