dbs/wsdl/db.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://127.0.0.1:26/db/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="db" targetNamespace="http://127.0.0.1:26/db/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://127.0.0.1:26/db/">
      <xsd:element name="buscarprotagonistaentradas"
      	type="tns:buscarprotagonistaentradas">

      </xsd:element>
      <xsd:element name="resquery" type="tns:resquery">

      </xsd:element>

      <xsd:complexType name="buscarprotagonistaentradas">
      	<xsd:attribute name="protagonista" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="resquery">
      	<xsd:sequence>
      		<xsd:element name="matriz" type="tns:filas" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      	<xsd:attribute name="error" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
    
      <xsd:complexType name="filas">
      	<xsd:sequence>
      		<xsd:element name="columnas" type="xsd:string" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="buscarmedioentradas"
      	type="tns:buscarmedioentradas">
      </xsd:element>
      <xsd:element name="buscarmedioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarmedioentradas">
      	<xsd:attribute name="medio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscartmediotodoentreadas"
      	type="tns:buscartmediotodoentreadas">
      </xsd:element>
      <xsd:element name="buscartmediotodoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscartmediotodoentreadas">
      	<xsd:sequence></xsd:sequence>
      </xsd:complexType>
      <xsd:element name="buscartmedioentradas"
      	type="tns:buscartmedioentradas">
      </xsd:element>
      <xsd:element name="buscartmedioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscartmedioentradas">
      	<xsd:attribute name="tmedio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarmediotmedioentradas"
      	type="tns:buscarmediotmedioentradas">
      </xsd:element>
      <xsd:element name="buscarmediotmedioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarmediotmedioentradas">
      	<xsd:attribute name="tmedio" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="medio" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarprogramamedioentradas"
      	type="tns:buscarprogramamedioentradas">
      </xsd:element>
      <xsd:element name="buscarprogramamedioResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarprogramamedioentradas">
      	<xsd:attribute name="medio" type="xsd:int"></xsd:attribute>
      	<xsd:attribute name="programa" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarprogramaentradas"
      	type="tns:buscarprogramaentradas">
      </xsd:element>
      <xsd:element name="buscarprogramaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarprogramaentradas">
      	<xsd:attribute name="programa" type="xsd:string"></xsd:attribute>
      </xsd:complexType>
      <xsd:element name="buscarhorarioprogramaentradas"
      	type="tns:buscarhorarioprogramaentradas">
      </xsd:element>
      <xsd:element name="buscarhorarioprogramaResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
      <xsd:complexType name="buscarhorarioprogramaentradas">
      	<xsd:attribute name="programa" type="xsd:int"></xsd:attribute>
      </xsd:complexType>
            <xsd:element name="in" type="xsd:string"></xsd:element>
            <xsd:element name="buscarespaciotodoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="buscarespaciotodoentradas"
            	type="tns:buscartmediotodoentreadas">
            </xsd:element>
            <xsd:element name="buscardepartamentotodoentradas"
            	type="tns:buscartmediotodoentreadas">
            </xsd:element>
            <xsd:element name="buscardepartamentotodoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="buscardepartamentoentradas"
            	type="tns:buscardepartamentoentradas">
            </xsd:element>
            <xsd:element name="buscardepartamentoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="buscardepartamentoentradas">
            	<xsd:attribute name="departamento" type="xsd:string"></xsd:attribute>
            </xsd:complexType>
            <xsd:element name="buscarciudaddepartamentoentradas"
            	type="tns:buscarciudaddepartamentoentradas">
            </xsd:element>
            <xsd:element name="buscarciudaddepartamentoResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="out" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="buscarciudaddepartamentoentradas">
            	<xsd:attribute name="departamento" type="xsd:int"></xsd:attribute>
            	<xsd:attribute name="ciudad" type="xsd:string"></xsd:attribute>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="buscarprotagonistaRequest">
    <wsdl:part element="tns:buscarprotagonistaentradas" name="buscarprotagonistaentradas"/>
  </wsdl:message>
  <wsdl:message name="buscarprotagonistaResponse">
    <wsdl:part element="tns:resquery" name="buscarprotagonistasalidas"/>
  </wsdl:message>
  <wsdl:message name="buscarmedioRequest">
  	<wsdl:part name="buscarmedioentradas" element="tns:buscarmedioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarmedioResponse">
  	<wsdl:part name="buscarmediosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartmediotodoRequest">
  	<wsdl:part name="buscartmediotodoentreadas" element="tns:buscartmediotodoentreadas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartmediotodoResponse">
  	<wsdl:part name="buscartmediotodosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartmedioRequest">
  	<wsdl:part name="buscartmedioentradas" element="tns:buscartmedioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscartmedioResponse">
  	<wsdl:part name="buscartmediosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarmediotmedioRequest">
  	<wsdl:part name="buscarmediotmedioentradas" element="tns:buscarmediotmedioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarmediotmedioResponse">
  	<wsdl:part name="buscarmediotmediosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarprogramamedioRequest">
  	<wsdl:part name="buscarprogramamedioentradas" element="tns:buscarprogramamedioentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarprogramamedioResponse">
  	<wsdl:part name="buscarprogramamediosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarprogramaRequest">
  	<wsdl:part name="buscarprogramaentradas" element="tns:buscarprogramaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarprogramaResponse">
  	<wsdl:part name="buscarprogramasalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarhorarioprogramaRequest">
  	<wsdl:part name="buscarhorarioprogramaentradas" element="tns:buscarhorarioprogramaentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarhorarioprogramaResponse">
  	<wsdl:part name="buscarhorarioprogramasalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarespaciotodoRequest">
  	<wsdl:part name="buscarespaciotodoentradas" element="tns:buscarespaciotodoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarespaciotodoResponse">
  	<wsdl:part name="buscarespaciotodosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscardepartamentotodoRequest">
  	<wsdl:part name="buscardepartamentotodoentradas" element="tns:buscardepartamentotodoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscardepartamentotodoResponse">
  	<wsdl:part name="buscardepartamentotodosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscardepartamentoRequest">
  	<wsdl:part name="buscardepartamentoentradas" element="tns:buscardepartamentoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscardepartamentoResponse">
  	<wsdl:part name="buscardepartamentosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarciudaddepartamentoRequest">
  	<wsdl:part name="buscarciudaddepartamentoentradas" element="tns:buscarciudaddepartamentoentradas"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscarciudaddepartamentoResponse">
  	<wsdl:part name="buscarciudaddepartamentosalidas" element="tns:resquery"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="db">
    <wsdl:operation name="buscarprotagonista">
      <wsdl:input message="tns:buscarprotagonistaRequest"/>
      <wsdl:output message="tns:buscarprotagonistaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="buscarmedio">
    	<wsdl:input message="tns:buscarmedioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarmedioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscartmediotodo">
    	<wsdl:input message="tns:buscartmediotodoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscartmediotodoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscartmedio">
    	<wsdl:input message="tns:buscartmedioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscartmedioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarmediotmedio">
    	<wsdl:input message="tns:buscarmediotmedioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarmediotmedioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarprogramamedio">
    	<wsdl:input message="tns:buscarprogramamedioRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarprogramamedioResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarprograma">
    	<wsdl:input message="tns:buscarprogramaRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarprogramaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarhorarioprograma">
    	<wsdl:input message="tns:buscarhorarioprogramaRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarhorarioprogramaResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarespaciotodo">
    	<wsdl:input message="tns:buscarespaciotodoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarespaciotodoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscardepartamentotodo">
    	<wsdl:input message="tns:buscardepartamentotodoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscardepartamentotodoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscardepartamento">
    	<wsdl:input message="tns:buscardepartamentoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscardepartamentoResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarciudaddepartamento">
    	<wsdl:input message="tns:buscarciudaddepartamentoRequest"></wsdl:input>
    	<wsdl:output message="tns:buscarciudaddepartamentoResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbSOAP" type="tns:db">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="buscarprotagonista">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarprotagonista" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarmedio">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarmedio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscartmediotodo">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscartmediotodo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscartmedio">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscartmedio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarmediotmedio">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarmediotmedio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarprogramamedio">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarprogramamedio" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarprograma">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarprograma" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarhorarioprograma">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarhorarioprograma" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarespaciotodo">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarespaciotodo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscardepartamentotodo">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscardepartamentotodo" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscardepartamento">

  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscardepartamento" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="buscarciudaddepartamento">
  		<soap:operation
  			soapAction="http://127.0.0.1:26/db/buscarciudaddepartamento" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="db">
    <wsdl:port binding="tns:dbSOAP" name="dbSOAP">
      <soap:address location="http://127.0.0.1:26/db/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
